body{
    background-color: #fc0000;
    background-size: contain;
}
#container{
    width: 100%;
    max-width: 450px;
    height: 450px;
    margin-top: 30px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 5%;
    border-style: solid;
    border-color: #303841;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-transform: capitalize;
    position: relative;
}
#logo{
    width: 100%;
    max-width: 100px;
    margin-top: 15px;
}
h1{
    font-family: 'Rubik', sans-serif;
}
input{
    width: 200px;
    font-size: 11px;
    border-style: solid;
    border-color: #303841;
    border-radius: 10%;
}
input:visited{
    background-color: black;
}
.exclamation{
    color: red;
    /* niet gelukt */
}
.text_plate{
    margin-top: 20px;
    height: 30px;
}
#verzend{
    background-color: #1b85ff;
    color: white;
    font-weight: 500;
    margin-top: 5%;
    margin-bottom: 18%;
}
#verzend:hover{
    background-color: #0069e0;
    color: white;
}
#account{
    margin-bottom: 15px;
    background-color: white;
    border-width: thin;
    border-style: solid;
    border-color: #303841;
    border-radius: 10%;
    font-size: 80%;
    color: #0067dd;
}
#account:hover{
    color: #0050ac;
    background-color: #3038411f;
}
.smallT{
    width: 100%;
    max-width: 200px;
    color: rgb(80, 80, 255);
    padding: 5px;
    font-size: 70%;
}
article{
    /* position: absolute; */
    align-items: center;
}
a:link{
    text-decoration: none;
    color: rgb(180, 180, 180);
}
a:hover{
    color:rgb(80, 80, 255);
}
a:visited{
    text-decoration: none;
    color: rgb(180, 180, 180);
}